.banner{
  background-image: url('./editor.png');
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: right; 
  background-size: 500px auto;
}
@media only screen and (max-width: 760px) {

  .banner{

    background-position: bottom; 
    background-size: 300px auto;
  }
}
@media only screen and (min-width:763px) {

  .banner{

    background-position:right bottom; 
    background-size: 400px auto;
  }
}
